<ion-header>
  <ion-toolbar>
    <ion-title>Select Seats</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label>
            Lower: 450
        </ion-label>
        
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <app-seat-picker></app-seat-picker>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
